<!-- Pagination -->
<div class="card lg:flex">
    <nav class="flex flex-wrap p-5">
        <a href="#" class="btn ltr:mr-2 rtl:ml-2 mb-2 lg:mb-0 btn_primary">First</a>
        <a href="#" class="btn ltr:mr-2 rtl:ml-2 mb-2 lg:mb-0 btn_primary">1</a>
        <a href="#" class="btn ltr:mr-2 rtl:ml-2 mb-2 lg:mb-0 btn_outlined btn_secondary">2</a>
        <a href="#" class="btn ltr:mr-2 rtl:ml-2 mb-2 lg:mb-0 btn_outlined btn_secondary">3</a>
        <a href="#" class="btn ltr:mr-2 rtl:ml-2 mb-2 lg:mb-0 btn_outlined btn_secondary">4</a>
        <a href="#" class="btn ltr:mr-2 rtl:ml-2 mb-2 lg:mb-0 btn_outlined btn_secondary">5</a>
        <a href="#" class="btn ltr:mr-2 rtl:ml-2 mb-2 lg:mb-0 btn_secondary">Last</a>
    </nav>
    <div
        class="flex items-center ltr:ml-auto rtl:mr-auto p-5 border-t lg:border-t-0 border-gray-200 dark:border-gray-900">
        Displaying 1-5 of 100 items
    </div>
    <div
        class="flex items-center p-5 border-t lg:border-t-0 lg:ltr:border-l lg:rtl:border-r border-gray-200 dark:border-gray-900">
        <span class="ltr:mr-2 rtl:ml-2">Show</span>
        <div class="dropdown">
            <button class="btn btn_outlined btn_secondary" data-toggle="dropdown-menu">
                5
                <span class="ltr:ml-3 rtl:mr-3 la la-caret-down text-xl leading-none"></span>
            </button>
            <div class="dropdown-menu">
                <a href="#">5</a>
                <a href="#">10</a>
                <a href="#">15</a>
            </div>
        </div>
        <span class="ltr:ml-2 rtl:mr-2">items</span>
    </div>
</div>